<div class="flex">
  <div class="w-sm-full">
    <div class="main-container">
      <header class="header">
        <div class="description">
         <span [routerLink]="['/']" class="title">Restaurant Business</span>
          <a [routerLink]="['/summary/list']">Restaurants</a>
          <a [routerLink]="['/']">Drag & Drop</a>
          <a [routerLink]="['/menu/list']">Menus</a>
          <a [routerLink]="['/image/upload']">Image Upload</a>
        </div>
      </header>
      <main class="main">
        <router-outlet></router-outlet>
      </main>
      <footer class="footer">
        <div class="footer-description">
          <a href="http://seattleconsultingmyanmar.com/en/" class="company-name">Seattle Consulting Myanmar Co.,Ltd</a>
          <span class="copyright">©copyright {{currentYear}}</span>
        </div>
      </footer>
    </div>
  </div>
</div>