.container {
  .search {
    margin-left: 20px;
  }
  .list-card {
    background-color: rgb(228, 224, 224);
    border-radius: 25px;
    padding: 15px;
    margin-top: 30px;
    line-height: 25px;
  }    
}